<!DOCTYPE html>
<html>
<head>
  <title>Active storage over time</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "active_storage_over_time/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
